{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Foto Moto 🔥</title>
</head>

<body>
    <div id="container">
        <header class="header">
            <h1 class="logo">
                <a href="{%url 'home' %} ">
                    Foto Moto 🔥
                </a>
            </h1>

            <!-- Search -->
            <form action="{% url 'search_images' %}" class="search-form" role="search">
                <input required type="text" placeholder="Search" class="search"
                    name="image" />
                <button type="submit">
                    <svg class="icon icon-search">

                        <use xlink:href="{%static 'img/sprite.svg'%}#search-svgrepo-com">
                        </use>
                    </svg>
                </button>
            </form>
        </header>

        <main class="main">

            {% block content %}
            {% endblock %}


        </main>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>