{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Foto Moto 🔥</title>
</head>

<body>
    <div id="container">
        <header class="header">
            <h1 class="logo">Foto Moto 🔥</h1>
        </header>

        <main class="main">


            <div class="content gallery">
                <ul>
                    <!-- Comes from js -->
                    {% for image in images %}
                    <li class="gal-list">
                        <img src="{{image.image.url}} " alt="Gal Img" loading="lazy"
                            class="gal-img" />
                        <div class="gal-list-desc">
                            <div>
                                <p class="gal-list__category">
                                    <svg class="icon">
                                        <use xlink:href="static/img/sprite.svg#hashtag">
                                        </use>
                                    </svg>
                                    {{image.category}}
                                </p>
                                <p class="gal-list__location">
                                    <svg class="icon">
                                        <use xlink:href="static/img/sprite.svg#location">
                                        </use>
                                    </svg>
                                    {{image.location}}
                                </p>
                            </div>

                            <svg class="icon">
                                <use xlink:href="static/img/sprite.svg#copy"></use>
                            </svg>
                        </div>
                    </li>

                    {% endfor %}

                </ul>
            </div>

        </main>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>